<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head"></head>
<header th:replace="fragments/header :: header"></header>
<body class="bg-dark">

<div class="d-flex card-deck  text-light mx-auto">
  <div class="card bg-dark border-danger">
    <img class="card-img-top" src="../images/roulette.png" alt="Card image cap">
    <div class="card-body text-center">
      <h5 class="card-title">Roulette</h5>
      <p class="card-text">Double your money on red or black, or even won 14x from your bid on green!</p>
      <a class="btn btn-primary bg-danger border-danger" href="/roulette">Play!</a>
    </div>
  </div>
  
  
  <div class="card bg-dark border-danger">
    <img class="card-img-top" src="../images/crash.png" alt="Card image cap">
    <div class="card-body text-center">
      <h5 class="card-title">Crash</h5>
      <p class="card-text">Win some money on choosen multipiler!</p>
      <a class="btn btn-primary bg-danger border-danger" href="/crash">Play!</a>
    </div>
  </div>
  
  <div class="card bg-dark border-danger">
    <img class="card-img-top" src="../images/matchbetting.png" alt="Card image cap">
    <div class="card-body text-center">
      <h5 class="card-title">Match betting</h5>
      <p class="card-text">Bet on your favourite team and win some money!</p>
      <a class="btn btn-primary bg-danger border-danger" href="/matchbetting">Play!</a>
    </div>
  </div>

</body>
</html>