<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head"></head>
<header th:replace="fragments/header :: header"></header>
<body class="bg-dark">

<div class="card-deck  text-light">
  <div class="card bg-dark border-danger">
    <img class="card-img-top" src="../images/roulette.png" alt="Card image cap">
    <div class="card-body text-center">
      <h5 class="card-title">Roulette</h5>
      <p class="card-text">Double your money on red or black, or even won 14x from your bid on green!</p>
      <a class="btn btn-primary bg-danger border-danger" href="/roulette">Play!</a>
    </div>
  </div>
  
  
  <div class="card">
    <img class="card-img-top" src="..." alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="..." alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
</div>

</body>
</html>