<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<body>
<header class="mb-5" th:fragment="header">

<nav class="navbar navbar-light border bg-danger border-danger rounded">
  <a class="navbar-brand text-dark" href="/">
    <img src="../images/logo.png" width="30" height="30" class="d-inline-block align-top" alt="">
  </a>
  <ul class="navbar-nav ml-auto">
  <li>
  <a class="text-white"></a>
  </li>
  </ul>
</nav>

</header>
</body>
</html>